.chat-window-container {
  height: 100vh;
  padding: 1rem;
  background: white;
  display: flex;
  flex-direction: column;
}

.chat-window {
  flex-grow: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #fdfdfd;
}

.chat-input-wrapper {
  display: flex;
  gap: 0.5rem;
}

.user {
  text-align: right;
  background-color: #d0f0ff;
  padding: 8px;
  border-radius: 6px;
  margin: 5px;
}

.bot {
  text-align: left;
  background-color: #f0ffd0;
  padding: 8px;
  border-radius: 6px;
  margin: 5px;
}